<% content_for :title, "Portfolio" %>
<div id ='landing-page' class = 'page'>
   <div id ='title-image'>
     <img src="<%= asset_path 'Loren.jpg' %>" width = '260%' height = '250%'>
    </div>
  <div id = 'title'>
    <h1>loren crawford</h1>
  </div>
  <table id ='contact-table'>
    <tr>
      <td><a href="mailto:lmcrawf@gmail.com"><i class="fa fa-envelope fa-lg"></i></i></a></td>
      <td><a href="https://github.com/Locrawfish"><i class="fa fa-github fa-lg"></i></a></td>
      <td><a href="https://www.linkedin.com/in/lorenmcrawford"><i class="fa fa-linkedin fa-lg"></i></a></td>
      <td><a href="https://twitter.com/LCrawfish"><i class="fa fa-twitter fa-lg"></i></a></td>
    </tr>
  </table>
  <div id ='intro'>
    <p>Hi there! I'm Loren, and I love building things. I'm currently looking for internships to help me build my front end and back end skills. Want to learn more? Stalk me on your favorite social media site or shoot me an email.</p>
  </div>
</div> 

<div class = 'page'>
  <div id = 'toolbox'>
    <h2>My Toolbox</h2>
    <div id ='toolbox-table'>
      <span id = 'tool-logo'><img src="<%= asset_path 'logo/HTML_Logo.png' %>" width = '150px' height = '150px'></span>
      <span id = 'tool-logo'><img src="<%= asset_path 'logo/css3.png' %>" width = '150px' height = '150px'></span>
      <!-- <span id = 'tool-logo'><img src="<%= asset_path 'logo/js_logo.png' %>" width = '150px' height = '150px'></span> -->
      <span id = 'tool-logo'><img src="<%= asset_path 'logo/jquery-logo.png' %>" width = '150px' height = '150px'></span>
      <br>
      <span id = 'tool-logo'><img src="<%= asset_path 'logo/rubylogo.svg' %>" width = '150px' height = '150px'></span>
      <span id = 'tool-logo'><img src="<%= asset_path 'logo/rails-logo.png' %>" width = '150px' height = '150px'></span>
      <span id = 'tool-logo'><img src="<%= asset_path 'logo/postgresql-logo.png' %>" width = '150px' height = '150px'></span>
    </div>
  </div>
</div>

<div class = 'page'>
  <div id = 'portfolio' >
    <h2>My Portfolio</h2> 
    <div class = 'card' id ='globetrotter'>
      <a target="_blank" href="http://upholsterer-richard-67310.bitballoon.com/"><img src="<%= asset_path 'portfolio-images/Globetrotter.png' %>"></a>
      <div id = 'portfolio-links'>
        <h3>Globetrotter | <a href="https://github.com/Locrawfish/GA-Project-1"><i class="fa fa-github-square"></i></a></h3>
      </div>
      <div>
        <p>A game allowing users to 'travel' to different countries by answering questions correctly. Built with HTML/CSS and jQuery.</p>
      </div>
    </div> 
    <div class = 'card' id ='residual-fare'>
      <a target="_blank" href="http://residual-fare.herokuapp.com"><img src="<%= asset_path 'portfolio-images/residual-fare.png' %>"></a>
      <div id = 'portfolio-links'>
       <h3>Residual Fare |  <a href="https://github.com/Locrawfish/GA-Project-2"><i class="fa fa-github-square"></i></a></h3>
      </div>
      <p>A recipe web application that allows users to search for recipes by ingredient built with Ruby on Rails. Responsible for frontend and backend, including consuming Yummly's recipe API.</p>
    </div>
    <div class = 'card' id ='farm-connect'>
      <a target="_blank" href="http://farmconnect.herokuapp.com"><img src="<%= asset_path 'portfolio-images/farm-connect.png' %>"></a>
      <div id = 'portfolio-links'>
        <h3>Farm Connect | <a href="https://github.com/Locrawfish/Farm_Connect"><i class="fa fa-github-square"></i></a></h3>
      </div>
      <p>A web application to help connect farmers and consumers built with MongoDB, Express, and Node. Responsible for Google API work and backend.</p>
    </div>
    <div class = 'card' id ='card-up'>
      <a ><img src="<%= asset_path 'portfolio-images/cardUp.png' %>"></a>
      <div id = 'portfolio-links'>
        <h3>Card Up | <a href="https://github.com/Locrawfish/Project4_CardUp"><i class="fa fa-github-square"></i></a></h3>
      </div>
      <p>A web application helping users share virtual business cards. Built with the MEAN stack. Responsible for frontend and backend.</p>
      
    </div>
  </div>
</div>
